@{
    ViewBag.Title = "Home Page";
}

<section class="content-header">
    <h1>
        Booklist, this is a simple CRUD application.

    </h1>
</section>
<!-- Main content -->
<section class="content">

    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#booklist">Book list</a></li>
        <li><a data-toggle="tab" href="#addbook">Add a Book</a></li>
    </ul>
    <div class="tab-content">
        <div id="booklist" class="tab-pane fade in active">
            <h3>Books</h3>
            <div class="">
                <table id="booklisttable" class="table table-condensed" style="width:100%;">
                    <thead>
                        <tr>
                            <th>
                                Book
                            </th>
                            <th>
                                Author
                            </th>
                            <th>
                                Description
                            </th>
                            <th>
                                
                            </th>
                        </tr>
                    </thead>
                    <tbody class="tbody"></tbody>
                    <tfoot>
                        <tr>
                            <th>
                                Book
                            </th>
                            <th>
                                Author
                            </th>
                            <th>
                                Description
                            </th>
                            <th>
                                
                            </th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>

        <div id="addbook" class="tab-pane fade">
            <h3>Add a Book</h3>
            <div class="col-lg-12">
                <div class="form-group">
                    <label for="authorname" style="width:150px;"> Author </label>
                    <select id="authorname" name="authorname" style="width:100%"></select>
                    <button type="button" class="btn btn-sm" data-widget="collapse" onclick="modalauthoradd()">
                        <i class="fa fa-plus-circle" style="color:blue"> New Author</i>
                    </button>

                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group">
                    <label for="booktitle" style="width:150px;"> Title </label>
                    <input type="text" style="width:100%" id="booktitle" />
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group">
                    <label for="bookdesc" style="width:150px;"> Description </label>
                    <textarea id="bookdesc" style="resize:none; width:100%;"></textarea>
                </div>
            </div>
            <div class="col-lg-4" style="text-align:center">
                <button type="button" class="btn btn-primary btn-md" data-widget="collapse" onclick="addbook()"><span>Confirm</span></button>
            </div>
        </div>

        <div id="removebook" class="tab-pane fade">
            <h3>Remove Book</h3>
        </div>
    </div>

    <!--Modal de confirmação-->
    <div class="modal fade" id="modalaprovacao" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" cellspacing="0" width="100%">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><i class="fa fa-pencil"></i> Description</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <p style="text-align:center; font-size:25px;" id="descvalue"></p>
                        </div>
                    </div>
                    <div class="modal-footer" style="text-align:center">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Exit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="addauthor" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" cellspacing="0" width="100%">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><i class="fa fa-pencil"></i>Add new author</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="authornameadd"> Name </label>
                                <input type="text" id="authornameadd" />
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="authornatadd"> Nationality </label>
                                <input type="text" id="authornatadd" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="text-align:left;">
                    <input style="display:none;" id="" disabled />
                    <button id="btnaddauthor" type="button" class="btn btn-success" onclick="addauthor()"><i class="fa fa-save"></i> Confirm</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>



    <!--Modal Success-->
    <div class="modal fade" id="modalsuccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" cellspacing="0" width="50%">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Success</h4>
                </div>
                <div class="modal-body">
                    <div class="row" style="text-align:center;">
                        <div class="col-lg-12">
                            <i class="fa fa-check-circle" style="font-size:40px; color:green;"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Modal Fail-->
    <div class="modal fade" id="modalfail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" cellspacing="0" width="50%">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Fail</h4>
                </div>
                <div class="modal-body">
                    <div class="row" style="text-align:center;">
                        <div class="col-lg-12">
                            <i class="fa fa-times-circle" style="font-size:40px; color:red;"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Modal Author Exists-->
    <div class="modal fade" id="modalauthorexists" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" cellspacing="0" width="50%">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Item already exists in our database!</h4>
                </div>
                <div class="modal-body">
                    <div class="row" style="text-align:center;">
                        <div class="col-lg-12">
                            <i class="fa fa-exclamation-circle" style="font-size:40px; color:dodgerblue;"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>